<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h4 style="text-align: center; font-weight:700; font-size: 25px; color:#0072FF;">Đã tạo khóa thành công!!!</h4>
	<form th:action="@{/saveFile}" th:object="${KeyData}" enctype="multipart/form-data"
					method="POST">
		<h5 style="font-size: 18px;">Public key:</h5>	
		<span>
			<input type="text" id="publicKey" style="width: 80%;" th:value="${publicKey}" name="publicKey"></input>
			<a style="color:blue;" onclick="copyText(1)">Copy text</a>
		</span>
		<h5 style="font-size: 18px;">Private key:</h5>
		<span>
			<input type="text" id="privateKey" style="width: 80%;" th:value="${privateKey}" name="privateKey"></input>
			<a style="color:blue;" onclick="copyText(2)">Copy text</a>
		</span>
		<h6 style="color:red; font-size: 20px; "><i>*Lưu ý: Hãy lưu thông tin PrivateKey và PublicKey để đăng nhập. Chúng tôi sẽ không khôi phục lại tài khoản nếu bạn mất thông tin này</i>
		</h6>
		<a href='javascript:void(0)' onclick="javascript:window.history.back(-1);return false;" style="color:blue"><i>Quay lại trang đăng nhập</i></a>
	</form>
	
	
	
	<script>
		function copyText(a) {
			var copyText
			if(a===1){
				copyText = document.getElementById("publicKey");
			}else{
				copyText = document.getElementById("privateKey");
			}

		  copyText.select();


		  document.execCommand("copy");

		}
		
	</script>
</body>
</html>