<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />

<!-- Website Title -->
<title>Hospital Management</title>

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Tinos&display=swap"
	rel="stylesheet">



<!-- Bootstrap CSS -->
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}">

<link rel="stylesheet" type="text/css"
	th:href="@{/css/fontawesome-all.css}">

<link rel="stylesheet" type="text/css" th:href="@{/css/swiper.css}">

<link rel="stylesheet" type="text/css"
	th:href="@{/css/magnific-popup.css}">

<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">


<!-- Favicon  -->
<link rel="icon" href="images/favicon.png">

</head>

<body data-spy="scroll">

	<!-- Preloader -->

	<!-- end of preloader -->


	<!-- Navigation -->
	<nav
		class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">

		<!-- Image Logo -->
		<a class="navbar-brand logo-image" href="/home"><img
			src="images/logo.svg" alt="alternative"></a>

		<!-- Mobile Menu Toggle Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarsExampleDefault"
			aria-controls="navbarsExampleDefault" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-awesome fas fa-bars"></span> <span
				class="navbar-toggler-awesome fas fa-times"></span>
		</button>
		<!-- end of mobile menu toggle button -->

		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"><a class="nav-link page-scroll"
					href="#header">Trang chủ <span class="sr-only">(current)</span></a></li>
				<li class="nav-item"><a class="nav-link page-scroll"
					href="#SubmitData">Tạo smart contract</a></li>
				<li class="nav-item"><a class="nav-link page-scroll"
					href="#BrowseData">Duyệt dữ liệu</a></li>

				<!-- Dropdown Menu -->
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle page-scroll" href="#about"
					id="navbarDropdown" role="button" aria-haspopup="true"
					aria-expanded="false" th:if="${publicKey!= null}"
					th:text="${publicKey.substring(publicKey.length()-10)}">...</a> <!-- th:if="${node!= null}" 
					th:text="${node.getPublicKeyString().substring(node.getPublicKeyString().length()-10)}">...</a> -->
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="/"><span
							class="item-text">Đăng xuất</span></a>
					</div></li>
				<!-- end of dropdown menu -->

			</ul>
		</div>
	</nav>
	<!-- end of navbar -->
	<!-- end of navigation -->

	<!-- Public key và Private key của người dùng, trạng thái hidden-->
	<div id="publicKey" th:if="${publicKey!= null}" th:text="${publicKey}" hidden></div>
	<div id="privateKey" th:if="${privateKey!= null}" th:text="${privateKey}" hidden></div>

	<!-- Header -->
	<header id="header" class="header">
		<div class="header-content">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="text-container">
							<h1>
								<span class="turquoise">Hospital Management</span>
							</h1>
							<p class="p-large">Sử dụng Blockchain As A Services để quản
								lý và chia sẻ dữ liệu công khai, minh bạch</p>
							<!-- Button trigger modal -->
							<button type="button" class="btn-solid-lg page-scroll"
								data-toggle="modal" data-target="#exampleModal">Đăng ký
							</button>
						</div>
						<!-- end of text-container -->
					</div>
					<!-- end of col -->
					<div class="col-lg-6">
						<div class="image-container">
							<img class="img-fluid" src="images/header-teamwork.svg"
								alt="alternative">
						</div>
						<!-- end of image-container -->
					</div>
					<!-- end of col -->
				</div>
				<!-- end of row -->
			</div>
			<!-- end of container -->
		</div>
		<!-- end of header-content -->
	</header>
	<!-- end of header -->
	<!-- end of header -->



	<!-- Tao Smart Contract-->
	<div id="SubmitData" class="form-1">
		<div class="container">
			<div class="form-container">
				<form id="requestForm" th:action="@{/taoSmartContract}"
					th:object="${SmartContractForm}" enctype="multipart/form-data"
					method="POST" data-toggle="validator" data-focus="false">
					<div class="row">
						<div class="col-lg-4">
							<label>Thông tin bệnh án</label>
							<!-- Submit Form -->
							<div class="form-group">
								<input type="text" class="form-control-input" id="rname"
									name="MSBenhAn" required> <label class="label-control">Mã
									số bệnh án</label>
								<div class="help-block with-errors"></div>
							</div>
							<div class="form-group">
								<input type="text" class="form-control-input" id="rname"
									name="SoBenhAn" required> <label class="label-control">Số
									bệnh án</label>
								<div class="help-block with-errors"></div>
							</div>
							<div class="form-group">
								<input type="text" class="form-control-input" id="rname"
									name="Loai" required> <label class="label-control">Loại</label>
								<div class="help-block with-errors"></div>
							</div>

							<label>Thông tin hợp đồng</label>
							<!-- Submit Form -->
							<div class="form-group">
								<input type="text" class="form-control-input" id="rname"
									name="threshold" required> <label class="label-control">Ngưỡng
									ủy quyền</label>
								<div class="help-block with-errors"></div>
							</div>
							<div class="form-group">
								<input type="text" class="form-control-input" id="rname"
									name="ChuanDoanBenhAn" required> <label
									class="label-control">Chẩn đoán (bệnh)</label>
								<div class="help-block with-errors"></div>
							</div>

							<!-- Danh sach tham gia hop dong thong minh -->
							<label>Thêm các bên liên quan của hợp đồng</label>
							<div class="form-group">
								<label for="comment">Thành viên:</label>
								<textarea class="form-control" rows="5" id="danhsachThanhVien" name="authority"></textarea>
							</div>
							<div class="btn-group">
								<button type="button" class="btn btn-secondary">Chọn để
									xem</button>
								<button type="button"
									class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
									id="dropdownMenuReference" data-toggle="dropdown"
									aria-haspopup="true" aria-expanded="false"
									data-reference="parent"></button>
								<div class="dropdown-menu"
									aria-labelledby="dropdownMenuReference" id="listDropdownHospital">
								</div>
							</div>
							<div id="data_table">
								<div class="jumbotron">
									<h4>Khả năng khám và xét nghiệm</h4>
									<p>public Key: 
										<input id="keyBenhVien" />									
									</p>
									<h6>Khả năng khám bệnh</h6>	
									<p id="listKhaNangKham"></p>							
									<h6>Khả năng xét nghiệm</h6>
									<p id="listKhaXetNghiem"></p>	
									<button type="button" id="Inser_btn" class="btn btn-info">Thêm vào Smart Contract</button>
								</div>
							</div>
							<div class="form-group" style="margin-top: 5rem;">
								<button type="submit" value="Submit"
									class="form-control-submit-button">Tạo Smart Contract</button>
							</div>
							<!-- end of submit form -->
						</div>
						<!-- end of col -->

						<div class="col-lg-4">
							<label>Thông tin xét nghiệm máu</label>
							<!-- Submit Form -->
							<div class="form-group">
								<input type="text" class="form-control-input" id="rname"
									name="hematology.MS" required> <label class="label-control">Mã số </label>
								<div class="help-block with-errors"></div>
							</div>
							<div class="form-group">
								<input type="text" class="form-control-input" id="rname"
									name="hematology.Loai" required> <label class="label-control">Loại </label>
								<div class="help-block with-errors"></div>
							</div>
							<div class="form-group">
								<input type="text" class="form-control-input" id="rname"
									name="hematology.SoLuongHC" required> <label class="label-control">Số lượng hồng cầu</label>
								<div class="help-block with-errors"></div>
							</div>	
							<div class="form-group">
								<input type="text" class="form-control-input" id="rname"
									name="hematology.HuyetSacTo" required> <label class="label-control">Huyết sắc tố</label>
								<div class="help-block with-errors"></div>
							</div>
							<div class="form-group">
								<input type="text" class="form-control-input" id="rname"
									name="hematology.Hematocrit" required> <label class="label-control">Hematocrit </label>
								<div class="help-block with-errors"></div>
							</div>					
						</div>
						<!-- end of col -->

						<div class="col-lg-4">
							<label>Thông tin XQuang</label>
							<!-- Submit Form -->
							<div class="form-group">
								<input type="text" class="form-control-input" id="rname"
									name="xray.MS" required> <label class="label-control">Mã
									số XQuang</label>
								<div class="help-block with-errors"></div>
							</div>
							<div class="form-group">
								<input type="text" class="form-control-input" id="rname"
									name="xray.So" required> <label class="label-control">Số
									XQuang</label>
								<div class="help-block with-errors"></div>
							</div>
							<div class="form-group">
								<input type="date" class="form-control-input" id="rname"
									name="xray.ThoiGian" required> <label class="label-control">Thời
									gian</label>
								<div class="help-block with-errors"></div>
							</div>
<!-- 							<div class="form-group">
								<input type="text" class="form-control-input" id="rname"
									name="xray.ChuanDoan" required> <label
									class="label-control">Chẩn đoán</label>
								<div class="help-block with-errors"></div>
							</div> -->
							<div class="form-group">
								<input type="text" class="form-control-input" id="rname"
									name="xray.YeuCauChup" required> <label
									class="label-control">Yêu cầu chụp</label>
								<div class="help-block with-errors"></div>
							</div>
							<div class="form-group">
								<input type="text" class="form-control-input" id="rname"
									name="xray.KetQuaChup" required> <label
									class="label-control">Kết quả chụp</label>
								<div class="help-block with-errors"></div>
							</div>
							<div class="form-group">
								<input type="file" name="imageXQuang" multiple="multiple"
									class="form-control-input" id="rname" />
							</div>
							<!-- end of submit form -->
						</div>
						<!-- end of col -->
					</div>
					<!-- end of row -->
				</form>
				<!-- end of submit form -->
			</div>
			<!-- end of form-container -->
		</div>
		<!-- end of container -->
	</div>
	<!-- end of form-1 -->
	<!-- end of submit fata -->



	<!-- Browse Data -->
	<div id="BrowseData" class="form-1">
		<div class="container">
			<div class="form-container">
				<form id="requestForm" data-toggle="validator" data-focus="false">
					<div class="row">
						<div class="col-lg-6">
							<div class="dropdown"
								style="z-index: 10000; margin-bottom: 1rem;">
								<button class="btn btn-outline-primary waves-effect"
									type="button" id="dropdownMenuButton" data-toggle="dropdown"
									aria-haspopup="true" aria-expanded="false">Tùy chọn
									giao dịch ▼</button>
								<div class="dropdown-menu" style="text-decoration: none"
									aria-labelledby="dropdownMenuButton">
									<a class="dropdown-item" style="text-decoration: none"
										id="needPermit"> Giao dịch cần xác thực </a> 
									<a class="dropdown-item" style="text-decoration: none"
										id="permitted"> Giao dịch đã xác thực </a>
								</div>
							</div>


							<div class="card" id="style-2">
								<div class="card-block-2">
									<ul class="task-list danhsachgiaodich">
									</ul>
								</div>
							</div>

						</div>
						<!-- end of col -->

						<div class="col-lg-6">
							<div class="card" id="style-2">
								<div class="text-center sticky-top top-header-card">
									<h4 id="test">Chi tiết giao dịch</h4>
								</div>

								<div class="card-block">
									<ul class="task-list">
										<li>
											<h5 style="color:#0072FF">Thông tin bệnh án</h5>
										</li>
										<li>
											<h6>MSMau:</h6>
											<p id="MSMau"></p>
										</li>
										<li>
											<h6>SoMau:</h6>
											<p id="SoMau"></p>
										</li>
										<li>
											<h6>Thông tin XQuang:</h6>
											<p id="LoaiMau"></p>
										</li>
										<li>
											<h6>Chuẩn đoán:</h6>
											<p id="ChuanDoanMau"></p>
										</li>
										<li>
											<h6>Số lượng hồng cầu:</h6>
											<p id="SoLuongHC"></p>
										</li>
										<li>
											<h6>Huyết sắc tố:</h6>
											<p id="HuyetSacTo"></p>
										</li>
										<li>
											<h6>Hematocrit:</h6>
											<p id="Hematocrit"></p>
										</li>
										<li>
											<h6>MCV:</h6>
											<p id="MCV"></p>
										</li>
										<li>
											<h6>MCH:</h6>
											<p id="MCH"></p>
										</li>
										<li>
											<h6>MCHC:</h6>
											<p id="MCHC"></p>
										</li>
										<li>
											<h6>HCCoNhan:</h6>
											<p id="HCCoNhan"></p>
										</li>
										<li>
											<h6>HCLuoi:</h6>
											<p id="HCLuoi"></p>
										</li>
										<li>
											<h6>SLTieuCau:</h6>
											<p id="SLTieuCau"></p>
										</li>
										<li>
											<h6>KSVSotRet:</h6>
											<p id="KSVSotRet"></p>
										</li>
										<li>
											<h6>SLBC:</h6>
											<p id="SLBC"></p>
										</li>
										<li>
											<h6>TPBC:</h6>
											<p id="TPBC"></p>
										</li>
										<li>
											<h6>DoanTrungTinh:</h6>
											<p id="DoanTrungTinh"></p>
										</li>
										<li>
											<h6>DoanUaAxit:</h6>
											<p id="DoanUaAxit"></p>
										</li>
										<li>
											<h6>DoanUaBazo:</h6>
											<p id="DoanUaBazo"></p>
										</li>
										<li>
											<h6>Mono:</h6>
											<p id="Mono"></p>
										</li>
										<li>
											<h6>Lympho:</h6>
											<p id="Lympho"></p>
										</li>
										<li>
											<h6>TeBaoBT:</h6>
											<p id="TeBaoBT"></p>
										</li>
										<li>
											<h6>MauLang:</h6>
											<p id="MauLang"></p>
										</li>
										<li>
											<h6>TGMauChay:</h6>
											<p id="TGMauChay"></p>
										</li>
										<li>
											<h6>TGMauDong:</h6>
											<p id="TGMauDong"></p>
										</li>
										<li>
											<h6>HeABO:</h6>
											<p id="HeABO"></p>
										</li>
										<li>
											<h6>HeRh:</h6>
											<p id="HeRh"></p>
										</li>
										
										<li>
											<h5 style="color:#0072FF">Thông tin XQuang</h5>
										</li>
										<li>
											<h6>MSXQuang:</h6>
											<p id="MSXQuang"></p>
										</li>
										<li>
											<h6>SoXQuang:</h6>
											<p id="SoXQuang"></p>
										</li>
										<li>
											<h6>ThoiGian:</h6>
											<p id="ThoiGian"></p>
										</li>
										<li>
											<h6>ChuanDoanXQuang:</h6>
											<p id="ChuanDoanXQuang"></p>
										</li>
										<li>
											<h6>YeuCauChup:</h6>
											<p id="YeuCauChup"></p>
										</li>
										<li>
											<h6>KetQuaChup:</h6>
											<p id="KetQuaChup"></p>
										</li>
										<li>
											<h6>hashFile:</h6>
											<p id="hashFile"></p>
										</li>
									</ul>
								</div>
							</div>

							<div class="row" id="sectionXacNhan">
								<div class="col-lg-12">
									<a  class="btn btn-primary" href='javascript:void(0)' id="dongy"
										style="color: white; text-decoration: none;"> Đồng ý </a> 
										<span>
										<a href='javascript:void(0)' class="btn btn-danger" id="khongdongy"
										style="color: white; text-decoration: none"> Không đồng ý
									</a>
									</span>
								</div>
							</div>

						</div>
						<!-- end of col -->
					</div>
					<!-- end of row -->
				</form>
			</div>
			<!-- end of form-container -->
		</div>




		<!-- end of container -->
	</div>
	<!-- end of form-1 -->
	<!-- end of Browse -->


	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Đăng ký bệnh
						viện</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">

					<!-- Bat dau Form Dang Ky -->
					<form th:action="@{/registratioOfExaminationAbility}"
						th:object="${ExamAndAnalysis}" enctype="multipart/form-data"
						method="POST">
						<div class="form-group col-md-12">
							<label for="inputState"
								style="font-weight: bold; font-size: 18px">Khả năng khám</label>
							<div class="form-check">
								<input class="form-check-input" type="checkbox"
									th:checked="${benhNhiemTrung}" name="benhNhiemTrung"
									id="defaultCheck1">
								<!--  th:value="camcum" name="khaNangKham"-->
								<label class="form-check-label" for="defaultCheck1">
									Bệnh nhiễm trùng và ký sinh trùng </label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="checkbox"
									th:checked="${buouTanSinh}" name="buouTanSinh"
									id="defaultCheck1"> <label class="form-check-label"
									for="defaultCheck1"> Bướu tân sinh </label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="checkbox"
									th:checked="${benhVeMau}" name="benhVeMau" id="defaultCheck1">
								<label class="form-check-label" for="defaultCheck1">
									Bệnh của máu, cơ quan tạo máu và các rối loạn liên quan đến cơ
									chế miễn dịch </label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="checkbox"
									th:checked="${benhNoiTietDinhDuongVaChuyenHoa}"
									name="benhNoiTietDinhDuongVaChuyenHoa" id="defaultCheck1">
								<label class="form-check-label" for="defaultCheck1">
									Bệnh nội tiết, dinh dưỡng và chuyển hóa </label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="checkbox"
									th:checked="${benhTamThan}" name="benhTamThan"
									id="defaultCheck1"> <label class="form-check-label"
									for="defaultCheck1"> Bệnh tâm thần </label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="checkbox"
									th:checked="${benhHeThanKinh}" name="benhHeThanKinh"
									id="defaultCheck1"> <label class="form-check-label"
									for="defaultCheck1"> Bệnh hệ thần kinh </label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="checkbox"
									th:checked="${benhVeMat}" name="benhVeMat" id="defaultCheck1">
								<label class="form-check-label" for="defaultCheck1">
									Bệnh mắt và phần phụ của mắt </label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="checkbox"
									th:checked="${benhTaiMuiHong}" name="benhTaiMuiHong"
									id="defaultCheck1"> <label class="form-check-label"
									for="defaultCheck1"> Bệnh lý tai mũi họng </label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="checkbox"
									th:checked="${benhHeTuanHoan}" name="benhHeTuanHoan"
									id="defaultCheck1"> <label class="form-check-label"
									for="defaultCheck1"> Bệnh hệ tuần hoàn </label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="checkbox"
									th:checked="${benhHeHoHap}" name="benhHeHoHap"
									id="defaultCheck1"> <label class="form-check-label"
									for="defaultCheck1"> Bệnh hệ hô hấp </label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="checkbox"
									th:checked="${benhHeTieuHoa}" name="benhHeTieuHoa"
									id="defaultCheck1"> <label class="form-check-label"
									for="defaultCheck1"> Bệnh hệ tiêu hóa </label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="checkbox"
									th:checked="${benhDaVaMoDuoiDa}" name="benhDaVaMoDuoiDa"
									id="defaultCheck1"> <label class="form-check-label"
									for="defaultCheck1"> Bệnh da và mô dưới da </label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="checkbox"
									th:checked="${benhCoXuongKhop}" name="benhCoXuongKhop"
									id="defaultCheck1"> <label class="form-check-label"
									for="defaultCheck1"> Bệnh hệ cơ - xương - khớp và mô
									liên kết </label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="checkbox"
									th:checked="${benhHeSinhDucTietNieu}"
									name="benhHeSinhDucTietNieu" id="defaultCheck1"> <label
									class="form-check-label" for="defaultCheck1"> Bệnh hệ
									sinh dục - Tiết niệu </label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="checkbox"
									th:checked="${thaiNghenSinhDe}" name="thaiNghenSinhDe"
									id="defaultCheck1"> <label class="form-check-label"
									for="defaultCheck1"> Thai nghén, sinh đẻ và hậu sản </label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="checkbox"
									th:checked="${vetThuongNgoDoc}" name="vetThuongNgoDoc"
									id="defaultCheck1"> <label class="form-check-label"
									for="defaultCheck1"> Vết thương ngộ độc và hậu quả của
									một số nguyên nhân bên ngoài </label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="checkbox"
									th:checked="${cacYeuToSauChuaTriYTe}"
									name="cacYeuToSauChuaTriYTe" id="defaultCheck1"> <label
									class="form-check-label" for="defaultCheck1"> Các yếu
									tố ảnh hưởng đến tình trạng sức khỏe và tiếp xúc dịch vụ y tế </label>
							</div>

						</div>
						<div class="form-group col-md-12">
							<label for="inputState"
								style="font-weight: bold; font-size: 18px">Khả năng xét
								nghiệm</label>
							<div class="form-check">
								<input class="form-check-input" type="checkbox"
									th:checked="${xetNghiemMau}" name="xetNghiemMau"
									id="defaultCheck1"> <label class="form-check-label"
									for="defaultCheck1"> Xét nghiệm máu </label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="checkbox"
									th:checked="${chupXQuang}" name="chupXQuang" id="defaultCheck1">
								<label class="form-check-label" for="defaultCheck1">
									Chụp X Quang </label>
							</div>
						</div>

						<button type="submit" class="btn btn-primary">Đồng ý</button>
					</form>
					<!-- Ket Thuc Form  -->
				</div>
			</div>
		</div>
	</div>




	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<!--  <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.easing.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/swiper.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.magnific-popup.js}"></script>
	<script type="text/javascript" th:src="@{/js/scripts.js}"></script>
	<script type="text/javascript" th:src="@{/js/myscript.js}"></script>

</body>
</html>